/*********************************
 METRONIC SQUARE STYLE COMPONENTS 
*********************************/
/***
Rounded corners reset
***/
/* Reset rounded corners for all elements */
select,
a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

/* except below bootstrap elements */
.img-circle {
  border-radius: 50% !important;
}

.img-rounded {
  border-radius: 6px !important;
}
